@{
    ViewData["Title"] = "Create / Edit";
    var isEdit = Model != null && Model.Id != 0;
}

@model SpendSmart.Models.Expense?

<div class="text-center">
    <h1 class="display-4">@((isEdit ? "Edit" : "Create") + " an expense")</h1>
</div>

<form asp-action="CreateEditExpenseForm">
    <input hidden asp-for="Id" />

    <label class="mt-4">Value $</label>
    <input class="form-control"
           type="number"
           asp-for="Value"
           step="0.01"
           placeholder="@(isEdit ? Model?.Value.ToString("0.00") : "e.g. 123.45")" />

    <label class="mt-4">Description</label>
    <input class="form-control"
           type="text"
           asp-for="Description"
           placeholder="@(isEdit ? Model?.Description : "Add a description")" />

    <button class="btn btn-primary mt-4" type="submit">Ok</button>
</form>