@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" asp-action="Products" asp-controller="Product">Overview</a>
    <a class="btn btn-secondary" asp-action="CreateEditProduct" asp-controller="Product">Create New</a>
</div>